#about-container-header {
	font-size: 32px;
	color: #383434;
	font-weight: 700;
	margin-left: 60px;
	margin-bottom: 5px;
}

#about-container-header-line {
	background: #383434;
	color: #383434;
	width: 275px;
	border: 1px solid #383434;
	margin-bottom: 5px;
	margin-left: 50px;
	border-radius: 25px;

}

#about-container {
	background: white;
}

header{
	background: #111010;
	position: static;

}

section {
	padding-top: 25px;
}

#about-content {
	margin: 20px 0 50px 0;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#about-us-text {
    border: 1px solid black;
    padding: 16px;
    width: 55%;
    font-size: 18px;
    line-height: 1.5em;
    color: #282828;
    font-weight: 500;
    border-radius: 10px;
}

#about-us-logo {
	margin-bottom: 20px;
	width: 96px;
	height: 96px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	#about-us-text {
		padding: 10px;
		width: 90%;
		font-size: 10px;
	}

	#about-us-logo {
		margin-bottom: 10px;
		width: 72px;
		height: 72px;
	}

	#about-container-header-line {
		width: 200px;
		margin-left: 20px;
	}

	#about-container-header {
		font-size: 22px;
		color: #383434;
		margin-left: 20px;
	}
}