header{
	background: #111010;
	position: static;
}

#map {
	width: 100%;
	height: 75vh;
	outline: none;
	border: none;
}

#socials {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	flex-direction: column;
	border-left: 3px solid white;
	transform: translateY(-30px);
}

#phone-number {
	border-left: 3px solid white;
}

#socials ul {
	display: flex;
	flex-direction: column;
	height: 60%;
}

#socials li {
	list-style: none;
	color: #DECDCC;
	font-size: 18px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

#socials li img {
	width: 40px;
	height: 40px;
	margin-right: 15px;
}

#socials-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

#socials-header img {
	width: 48px;
	height: 48px;
	margin-left: 15px;
}

#socials-header h2 {
	color: white;
	font-size: 24px;
}

#phone-number ul {
	transform: translateX(0);
}

#phone-number-header {
	transform: translateX(0);
}

#location-header {
	transform: translateX(0);
}

#location ul {
	transform: translateX(0);
}

#form-container {
	margin-top: 15px;
	width: 100%;
	padding: 25px;
	background: #F7E5E4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: span 3;
	margin-bottom: 25px;

}

#form-container-header {
	font-size: 32px;
	color: #383434;
	font-weight: 800;
	margin-left: 10px;
	margin-bottom: 40px;
}


#form-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.form-item:not(:last-child) {
	margin-bottom: 20px;
}

#form-container form input{
	padding: 5px 15px;
	height: 45px;
	width: 270px;
	border-radius: 5px;
	background: #F7E5E4;
	font-weight: 500;
	transition: 0.15s ease-in-out;
	border: none;
	border-bottom: 1px solid #985FFD;

}

#form-container form select{
	padding: 5px 15px;
	height: 45px;
	width: 270px;
	border-radius: 5px;
	background: #F7E5E4;
	font-weight: 500;
	transition: 0.15s ease-in-out;
	border: none;
	border-bottom: 1px solid #985FFD;

}

#form-container form select:focus{
	outline: none;
	background: #E1DBDB;
}

#form-container form input:focus{
	outline: none;
	background: #E1DBDB;
	border-bottom: 3px solid #985FFD;
}

#form-container form  label {
	font-size: 18px;
	margin-bottom: 10px;
	transform: translateX(-5px);
}

#form-container form  button {
	padding: 8px 15px;
	font-size: 18px;
	transform: translateX(10px);
	border: solid 1px #000;
	background: #2161F2;
	border-radius: 5px;
	color: #fff;
}

#form-container form  button:hover {
	background: #fff;
	color: #000;
	cursor: pointer;
}

option {
	margin-left: 15px;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 3px;
}

#form-container form textarea {
	padding: 15px;
	height: 135px;
	width: 315px;
	transform: translateX(-5px);
	font-size: 14x;
	border-radius: 5px;
	resize: none;
}

#form-container form textarea:focus {
	background: #E1DBDB;
}

#form-container form textarea::-webkit-scrollbar {
	width: 3px;
	background: #fff;
}

#form-container form textarea::-webkit-scrollbar-thumb {
	background: #a83968;
	border-radius: 3px;
	border: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	#socials {
		visibility: hidden;
		
	}

	#phone-number {
		border-left: none;
	}

	
}

