@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

::-webkit-scrollbar {
	width: 6px;
	background: #111010;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 3px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

hr {
	background: #fff;
}

body {
	background: #fff;
}

section {
	background: #fff;
}

li,a,button,p,h1,h2,input,label,textarea {
	font-family: 'Fira Sans', sans-serif;
	text-decoration: none;
}

header li,a,button {
	font-size: 24px;
	font-weight: 700;
	color: #383434;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(247,229,228,0) 100%);
	position: fixed;
	padding: 10px;
	width: 100%;
	z-index: 10;
}

body {
  overflow: hidden;
}

#loading {
	background: #fff url("fav-logo.png") no-repeat center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 11;
	animation: loading 3s ease-in-out forwards alternate infinite;
	transition: 3s all;
}

@keyframes loading {
	0% {
		transform: scale(1.0);
	}

	25% {
		transform: scale(1.5);
	}

	50% {
		transform: scale(1.0);
	}

	75% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1.0);
	}
}
 

#logo {
	height: 80px;
	width: 80px;
	margin: 0 30px 0;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block; /* Make the list items as a line */
	padding: 0 20px; /* Seperate the list items */
	transition: all 150ms ease-in-out;
}


.nav_links li a {
	position: relative;
	transition: 0.5s;
	color: #DBCAB7;
}
.nav_links li a:after {
	content: "";
	position: absolute;
	width: 0;
	background: #ff3c78;
	height: 3px;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}
.nav_links li a:hover {
	color:  #ff3c78;
	top: -5px;
}
.nav_links li a:hover:after {
	width: 100%;
}

section {
	background: #fff;
}

#slideshow {
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	position: relative;
}

#slide-navigation {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 0;
	margin-bottom: 30px;
}

.radio-btns {
	border: 2px solid #40D3DC;
	border-radius: 10px;
	padding: 8px;
}

.radio-btns:not(:last-child) {
	margin: 0 40px 0 0;

}

#btns-hide {
	display: none;
}

#slide-imgs {
	height: 100%;
	position: relative;
	
	display: flex;
	justify-content: flex-start;
}

footer {
	display: grid;
	grid-template-columns: 33% 33% 34%;
	grid-auto-rows: minmax(100px, auto);
	background: #111010;
}

#copyright {
	grid-column: span 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer #footer-line {
	visibility: hidden;
	height: 5px;
	margin-top: 15px;
	width: 100%;
}

#copyright img {
	width: 64px;
	height: 64px;
	margin-right: 15px;
}

#copyright p {
	color: white;
	font-size: 24px;
	letter-spacing: 1px;
}

#location-header {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(75px);
	margin-bottom: 15px;
}

#location-header img {
	width: 48px;
	height: 48px;
	margin-left: 15px;
}

#location-header h2 {
	color: white;
	font-size: 24px;
}

#location {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	flex-direction: column;
	transform: translateY(-25px);
}

#location ul {
	display: flex;
	flex-direction: column;
	transform:translateX(68px);
	height: 60%;
}

#location li {
	color: #DECDCC;
	font-size: 18px;
	margin-bottom: 10px;
}


#phone-number-header {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-35px);
	margin-bottom: 15px;
}

#phone-number-header img {
	width: 48px;
	height: 48px;
	margin-right: 15px;
}

#phone-number-header h2 {
	color: white;
	font-size: 24px;
}

#phone-number {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	flex-direction: column;
	transform: translateY(-30px);
}

#phone-number ul {
	display: flex;
	flex-direction: column;
	transform:translateX(-90px);
	height: 60%;
}

#phone-number li {
	color: #DECDCC;
	font-size: 18px;
	margin-bottom: 10px;
}

.number-type {
	list-style: none; 
	transform: translateX(-25px);
}

.imgs {
	height: 100%;
	width: 1440px;
	float: right;

}

.imgs-section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 45%;

}

.img-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background:  linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(247,229,228,0) 33%, rgba(237,220,219,0) 66%, rgba(0,0,0,0.25) 100%);
}

.imgs-section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 45%;

}

.section-header {
	font-size: 56px;
	color: #fff;
	text-shadow: 0px 5px 3px #000;
	text-align: center;
}

.section-line {
	width: 150px;
	height: 3px;
	background: white;
	box-shadow: 0px 5px 3px #000;
	border-radius: 25px;
}

.section-info {
	font-size: 24px;
	color: #fff;
	text-align: center;
	text-shadow: 0px 3px 3px #000;
}

.imgs-section button {
	padding: 9px 25px;
	border: none;
	border-radius: 50px;
	background: #383434;
	color: #F7E5E4;
	cursor: pointer;
	transition: all 350ms ease-in-out;
}

.imgs-section button:hover {
	border: 3px dashed #383434;
	background: #fff;
	color: #383434;
}

