@keyframes Slideshow {
	0% {
		right: -100%;
	}

	16.66% {
		right: -100%;
	}

	33.32% {
		right: 0;
	}

	49.98% {
		right: 0;
	}

	66.64% {
		right: 100%;
	}

	83.3% {
		right: 100%;
	}

	100% {
		right: -100%;
	}
}

@keyframes R1 {

	0% {
		background: #40d3dc;
	}

	16.66% {
		background: #40d3dc;
	}

	33.32% {
		background: transparent;
	}


	83.3% {
		background: transparent;
	}

	100% {
		background: #40d3dc;
	}


}

@keyframes R2 {

	0% {
		background: transparent;
	}

	16.66% {
		background: transparent;
	}

	33.32% {
		background: #40d3dc;
	}

	49.98% {
		background: #40d3dc;
	}

	66.64% {
		background: transparent;
	}

	100% {
		background: transparent;
	}


}

@keyframes R3 {

	0% {
		background: transparent;
	}

	49.98% {
		background: transparent;
	}

	66.64% {
		background: #40d3dc;
	}

	83.3% {
		background: #40d3dc;
	}

	100% {
		background: transparent;
	}


}

#slide-imgs {
	width: 300%;
	animation: Slideshow 7s ease-in-out forwards infinite;
	}

#radio-1 {
	animation: R1 7s ease-in-out forwards infinite;
}

#radio-2 {
	animation: R2 7s ease-in-out forwards infinite;
}

#radio-3 {
	animation: R3 7s ease-in-out forwards infinite;
}

#img-1 {
	background: url("img1.jpg");
	background-size: cover;
}

#img-2 {
	background: url("img2.jpg");
	background-size: cover;
}

#img-3 {
	background: url("img3.jpg");
	background-size: cover;
}

#products-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 15px;

}

#product-section {
	padding: 30px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(1, 300px);
	grid-template-columns: repeat(3, 300px);
	grid-gap: 35px;
	justify-content: center;
	align-items: center;
}

#product-1 {
	background: url("product-1.jpg");
	background-size: cover;
}

#product-2 {
	background: url("product-2.jpg");
	background-size: cover;
}

#product-3 {
	background: url("product-3.jpg");
	background-size: cover;
}

#products-container-header {
	font-size: 42px;
	color: #383434;
	font-weight: 700;
	margin-bottom: 10px;
}

#products-container-header-line {
	background: #383434;
	color: #383434;
	width: 425px;
	border: 2px solid #383434;
	margin-bottom: 5px;

}

#form-container {
	width: 100%;
	padding: 25px;
	background: #F7E5E4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

#form-container-header {
	font-size: 32px;
	color: #383434;
	font-weight: 800;
	margin-left: 10px;
	margin-bottom: 40px;
}


#form-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.form-item:not(:last-child) {
	margin-bottom: 20px;
}

#form-container form input{
	padding: 5px 15px;
	height: 45px;
	width: 270px;
	border-radius: 5px;
	background: #F7E5E4;
	font-weight: 500;
	transition: 0.15s ease-in-out;
}

#form-container form input:not(#produit) {
	border: none;
	border-bottom: 1px solid #985FFD;

}

#form-container form input:not(#produit):focus{
	outline: none;
	border-bottom: 3px solid #985FFD;
	background: #E1DBDB;
}

#form-container form  label {
	font-size: 18px;
	margin-bottom: 10px;
	transform: translateX(-5px);
}

#form-container form  button {
	padding: 8px 15px;
	font-size: 18px;
	transform: translateX(10px);
	border: solid 1px #000;
	background: #2161F2;
	border-radius: 5px;
	color: #fff;
}

#form-container form  button:hover {
	background: #fff;
	color: #000;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 3px;
}

#form-container form textarea {
	padding: 15px;
	height: 135px;
	width: 315px;
	transform: translateX(-5px);
	font-size: 14x;
	border-radius: 5px;
	resize: none;
}

#form-container form textarea:focus {
	background: #E1DBDB;
}

#form-container form textarea::-webkit-scrollbar {
	width: 3px;
	background: #fff;
}

#form-container form textarea::-webkit-scrollbar-thumb {
	background: #a83968;
	border-radius: 3px;
	border: none;
}

#produit {
	background: #f1e5f3;
	border: none;
	border-bottom: 1px solid #000;

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	#product-section {
		grid-template-rows: repeat(2, 95px);
		gap: 10px;
	}	
	#products-container-header-line {
		display: none;
	}
}